.test{
    display: inline;
}
input[type=checkbox], input[type=radio] {
    margin: 5px 8px 5px;
    margin-top: 1px;
    line-height: 2px;
}
.heading{

        background-color: #307ecc;
        color: white;
        padding: 5px  ;
        
    
}










