.row {
  margin-left: -12px;
  width: 100%;
  display: table-cell;
  margin-right: -12px;
}

.apexcharts-legend.apexcharts-align-center.position-right {
  display: -webkit-inline-box;
  float: left;
  position: absolute;
  left: auto;
  /* top: 24px; */
  /* right: 1px; */
  float: left !important;
  left: 2px !important;
}
.col-md-4 {
  width: 28.333%;
}
.infobox1 {
  border: 1px solid #e0e6ed;
  border-radius: 6px;
  width: 18% !important;
  background: #d8ebf5;
  margin: 1%;
  border: none;
  padding: 5px;
  text-align: center;
  box-shadow: 4px 6px 10px -3px #bfc9d4;
  height: 80px;
}
.bg-sw {
  background: #fff;
  -webkit-box-shadow: 0 4px 6px 0 rgb(85 85 85 / 8%),
    0 1px 20px 0 rgb(0 0 0 / 7%), 0px 1px 11px 0px rgb(0 0 0 / 7%);
  -moz-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08),
    0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0 4px 6px 0 rgb(85 85 85 / 8%), 0 1px 20px 0 rgb(0 0 0 / 7%),
    0px 1px 11px 0px rgb(0 0 0 / 7%);
  margin: 13px 0;
}
#map {
  height: 420px;
  margin-left: 0px;
}
.apexcharts-legend.apexcharts-align-center.position-right {
  display: none;
}
h5.widget-title {
  text-align: center !important;
  font-size: 12px;
  font-weight: 600;
}
.apexcharts-legend.apexcharts-align-center.position-right {
  position: absolute;
  left: auto;
  top: 24px;
  right: 5px;
  display: contents !important;
}
div#ace-settings-container {
  left: -17px !important;
}
.infobox1 .infobox-data {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 14px;
}

.infobox1 .infobox-content {
  max-width: 100%;
  text-align: center;
}

.infobox1 .infobox-icon {
  width: 62px !important;
  margin-bottom: 8px;
  margin-top: 2px;
}

.widget {
  display: flow-root;
}
.infobox1 .infobox-icon {
  float: left;
}
.infobox-content {
  /* float: right; */
  margin-top: 0.5em;
  margin-left: 4.5em;
}
infobox1 .infobox-icon {
  margin-top: 2px !important;
}
.apexcharts-legend.center.position-bottom {
  inset: auto 0px 44px !important;
}
.main-content {
  margin-left: 190px;
}

.infobox .infobox-content {
  color: #202020;
  letter-spacing: 0.5px;
  font-weight: 500;
 
  text-transform: uppercase;
}

.page-content {
  padding: 0px !important;
}
.stat {
  background: #fff;
  float: left;
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  border-radius: 3px;
  border: 1px dashed;
}
.stat::before {
  display: none !important;
}
.stat::after {
  display: none !important;
}
.bg-green {
  background: #229e39;
  /* float: left; */
  display: initial;
  padding: 5px 15px;
  text-align: center;
  border-radius: 3px;
  border: 1px dashed;
  height: 26px;
}

svg#SvgjsSvg1033 {
  position: relative !important;
  user-select: none !important;
  box-shadow: 0 4px 6px 0 rgb(85 85 85 / 8%), 0 1px 20px 0 rgb(0 0 0 / 7%),
    0px 1px 11px 0px rgb(0 0 0 / 7%) !important;
  border-radius: 50% !important;
  margin: auto !important;
}

.min-bg-s {
  -webkit-user-select: none !important;
  user-select: none !important;
  /* box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08),
    0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07) !important; */
  /* border-radius: 50% !important; */
  margin: 0 0.5% !important;
  width: 13.38%;
  height: 179px;
  float: left;
  text-align: center;
}
svg#SvgjsSvg1025 {
  background: transparent;
  padding: 0;
  box-shadow: none;
  margin: 3px 0;
  border: 1px solid #ccc;
}
.col-sm-121 {
  margin-bottom: 14px;
  margin-top: -8px;
  float: left;
  width: 100%;
}
.apexcharts-legend.apexcharts-align-center.position-right {
  display: none !important;
}
.row {
  margin-right: -8px;
}
.infobox-content {
  display: contents !important;
}
div#chart {
  float: right;
  margin-right: -10px;
}
.row {
  margin-left: -12px;
  width: 100%;
  display: table-cell;
  margin-right: -12px;
}
.col-md-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
button#commfail {
  display: none;
}
button#clickme {
  display: none;
}
button.btn.btn-success.btn-xs.pull-right {
  margin-right: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .wi-100 {
    width: 100% !important;
  }
  .min-bg-s {
    margin: 1% 0.5% !important;
    width: 49% !important;
    height: 179px;
    float: left;
    text-align: center;
  }
}
div.dataTables_wrapper {
  width: 800px;
  margin: 0 auto;
}


// by rj
#chart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}