
                  <div id="InstentenousModal" class="modal fade in" role="dialog" style="display: block; padding-right: 16px;">
                    <div class="modal-dialog">
            
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title" id="graphtableheading">Communication Data List</h4>
                            </div>
                            <div class="modal-body" style="padding: 0px !important;">
                                <table id="tblgraphList" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr class="BindGraphDayanamicHeader"><th>Meter S.No.</th><th>NIC MSISDN No</th><th>NIC IPV6</th><th>Last Update Time</th><th>longitude</th><th>latitude</th></tr>
                                    </thead>
            
                                    <tbody class="BindGraph"><tr><td>0000000049200113</td><td>12</td><td>2402:3a80:1700:12d6::2</td><td>Tue Mar 09 03:19:04 IST 2021</td><td>77.59</td><td>28.664</td></tr><tr><td>11000032</td><td>1212313</td><td>2402:3a80:1700:12e1::2</td><td>Tue Mar 09 03:19:06 IST 2021</td><td>77.89</td><td>28.6</td></tr></tbody>
                                </table>
                                <div id="LoadingImage" style="text-align: center; display: none;">
                                    <img src="assets/images/loader.gif">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
            
                    </div>
                </div>                  <!-- /.row -->

 
  