<div class="col-md-12" style="padding: 0px; margin-bottom: 18px">
  <div
    class="min-bg-s"
    style="background: #d1cfca; margin-left: 0px !important"
  >
    <div class="item">
      <div class="widget-box">
        <div class="widget-header widget-header-flat widget-header-small">
          <h5 class="widget-title">INSTANTANEOUS READ</h5>

          <div class="widget-toolbar no-border"></div>
        </div>
        <div id="chart">
          <apx-chart
            [series]="chartOptions.series"
            [labels]="chartOptions.labels"
            [colors]="chartOptions.colors"
            [chart]="chartOptions.chart"
            [legend]="chartOptions.legend"
            [dataLabels]="chartOptions.dataLabels"
            [fill]="chartOptions.fill"
            [plotOptions]="chartOptions.plotOptions"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="min-bg-s" style="background: #d1cfca">
    <div class="item">
      <div class="widget-box">
        <div class="widget-header widget-header-flat widget-header-small">
          <h5 class="widget-title">DAILY LOAD PROFILE</h5>

          <div class="widget-toolbar no-border"></div>
        </div>
        <div id="chart">
          <apx-chart
            [series]="chartOptions1.series"
            [chart]="chartOptions1.chart"
            [labels]="chartOptions1.labels"
            [colors]="chartOptions1.colors"
            [legend]="chartOptions1.legend"
            [dataLabels]="chartOptions1.dataLabels"
            [fill]="chartOptions1.fill"
            [plotOptions]="chartOptions1.plotOptions"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="min-bg-s" style="background: #d1cfca">
    <div class="item">
      <div class="widget-box">
        <div class="widget-header widget-header-flat widget-header-small">
          <h5 class="widget-title">DELTA LOAD PROFILE</h5>

          <div class="widget-toolbar no-border"></div>
        </div>
        <div id="chart">
          <apx-chart
            [series]="chartOptions2.series"
            [chart]="chartOptions2.chart"
            [labels]="chartOptions2.labels"
            [colors]="chartOptions2.colors"
            [legend]="chartOptions2.legend"
            [dataLabels]="chartOptions2.dataLabels"
            [fill]="chartOptions2.fill"
            [plotOptions]="chartOptions2.plotOptions"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="min-bg-s" style="background: #d1cfca">
    <div class="item">
      <div class="widget-box">
        <div class="widget-header widget-header-flat widget-header-small">
          <h5 class="widget-title">BILLING DATA</h5>

          <div class="widget-toolbar no-border"></div>
        </div>
        <div id="chart">
          <apx-chart
            [series]="chartOptions3.series"
            [chart]="chartOptions3.chart"
            [labels]="chartOptions3.labels"
            [colors]="chartOptions3.colors"
            [legend]="chartOptions3.legend"
            [dataLabels]="chartOptions3.dataLabels"
            [fill]="chartOptions3.fill"
            [plotOptions]="chartOptions3.plotOptions"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="min-bg-s" style="background: #d1cfca">
    <div class="item">
      <div class="widget-box">
        <div class="widget-header widget-header-flat widget-header-small">
          <h5 class="widget-title">EVENT DATA</h5>

          <div class="widget-toolbar no-border"></div>
        </div>
        <div id="chart">
          <apx-chart
            [series]="chartOptions4.series"
            [chart]="chartOptions4.chart"
            [labels]="chartOptions4.labels"
            [colors]="chartOptions4.colors"
            [legend]="chartOptions4.legend"
            [dataLabels]="chartOptions4.dataLabels"
            [fill]="chartOptions4.fill"
            [plotOptions]="chartOptions4.plotOptions"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
