

 .login-layout{
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}
.errorclass{
    border-color: red;
  
  }
  
  .successclass{
    border-color: green;
    
  }