<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Welcome to smart meter system</title>
    <meta name="description" content="User login page" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/assets/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/assets/css/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <div class="page-bg"></div>
  
  <div
    class="animation-wrapper"
    style="background-image: url(../../../assets/images/tower.jpg)"
  >
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
    <div class="particle particle-3"></div>
    <div class="particle particle-4"></div>
  </div>
  
  <div class="page-wrapper">
    <div class="main-container">
      <div class="main-content">
        <div
          class="rowqw"
          style="margin-left: 0x !important; margin-right: opx !important"
        >
          <div class="col-md-6" style="float: none; display: inline-flex">
            <div class="login-container" style="margin-top: 3em">
              <div class="center">
                <h1>
                  <!-- <img class="meecllogo" src="/assets//images//MeECL-Official-LOGO.png"> -->
                  <img class="meecllogo" src="https://cdn-icons-png.flaticon.com/512/2037/2037265.png">
                  <span class="text">HES</span>
                  
                </h1>
                
                <!-- <h1 class="white" id="id-text2" style="font-size: 23px">
                  <img
                  class="nav-user-photo"
                  src="/assets/images/avatars/iitk-logo.svg"
                  alt="Jason's Photo"
                />
                </h1>  -->
              </div>
              <div class="space-6"></div>
              <div class="position-relative">
                <div
                  id="login-box"
                  class="login-box widget-box no-border visible"
                ><a routerLink="/login"><img style="border-radius: 20%;" width="100%" height="379px" src="/assets/images/smartgrid.jpg"/></a>
                 
                  <!-- /.widget-body -->
                </div>
                <!-- /.login-box -->
  
                <!-- /.signup-box -->
              </div>
            </div>
          </div>
        
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.main-content -->
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  