<div class="main-content">
  <div class="main-content-inner">
    <div class="page-content">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="table-header">
                <div class="col-lg-3">
                  <h4 class="title">SubStation</h4>
                </div>
                <div class="row">
                  <span>
                    <button
                      type="button"
                      id="showDTModal"
                      data-toggle="modal"
                      data-target="#ModalUpdateSubstation"
                      (click)="openAddModel()"
                      style="
                        height: 39px;
                        background-color: darkslategray;
                        border-radius: 7px;
                        float: right;
                        outline: none;
                        margin-right: 2em;
                      "
                    >
                      Add SubStation
                    </button></span
                  >
                </div>
              </div>

              <div class="table-responsive">
                <table
                  datatable
                  [dtOptions]="dtOptions"
                  [dtTrigger]="dtTrigger"
                  class="table table-striped table-bordered table-hover nowrap"
                >
                  <thead>
                    <tr>
                      <th *ngFor="let obj of headerdata">
                        {{ obj }}
                      </th>
                      <th *ngIf="iswritepermission != '0'">Action</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let objj of rowdata">
                      <td *ngFor="let objjj of objj">
                        {{ objjj }}
                      </td>
                      <td class="disp-p" *ngIf="iswritepermission != '0'">
                        <button
                          class="edit-b"
                          (click)="getSubstationInfo(objj)"
                        >
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button
                          class="det-b"
                          (click)="deleteSubstationInfo(objj[1])"
                        >
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- <div class="row">
                  <div class="col-xs-12">
                    <div id="dynamic-table_filter" class="dataTables_filter">
                      <button
                        style="float: left !important; top: 7px"
                        class="btn btn-danger btn-xs pull-right"
                        (click)="generatePdf()"
                      >
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                      </button>
                      <button
                      style="
                        float: left !important;
                        top: 7px;
                        margin-left: 10px;
                      "
                      class="btn btn-success btn-xs pull-right"
                      (click)="exportexcel()"
                    >
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                      </button>

                      <input
                        class="form-control input-sm"
                        placeholder=" Search"
                        type="text"
                        name="search"
                        (keyup)="searchValue()"
                        [(ngModel)]="searchText"
                        aria-controls="dynamic-table"
                      />
                    </div>
                  </div>
                </div>
                <table
                  id="substationtbl"
                  class="table table-striped table-bordered table-hover"
                >
                  <thead>
                    <tr>
                      <th *ngFor="let obj of headerdata">{{ obj }}</th>

                      <th
                        *ngIf="iswritepermission != '0'"
                        style="
                          width: 100px;
                          display: block;
                          height: 53px;
                          line-height: 38px;
                        "
                      >
                        Action
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let objj of pageOfItems">
                      <td *ngFor="let objjj of objj">
                        {{ objjj }}
                      </td>
                      <td class="disp-p" *ngIf="iswritepermission != '0'">
                        <button
                          class="edit-b"
                          (click)="getSubstationInfo(objj)"
                        >
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button
                          class="det-b"
                          (click)="deleteSubstationInfo(objj[1])"
                        >
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="card text-center m-3">
                  <div class="card-footer pb-0 pt-3">
                    <jw-pagination
                      [items]="items"
                      (changePage)="onChangePage($event)"
                    ></jw-pagination>
                  </div>
                </div> -->
              </div>
            </div>
          </div>

          <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="ModalUpdateSubstation"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalSubstation"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" style="margin-top: 8em">
      <div class="modal-header" style="background-color: #307ecc">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4
          class="modal-title"
          id="exampleModalSubstation"
          style="text-align: center"
          *ngIf="isEdit"
        >
          Update Substation
        </h4>
        <h4
          class="modal-title"
          id="exampleModalSubstation"
          style="text-align: center"
          *ngIf="!isEdit"
        >
          Add Substation
        </h4>
      </div>
      <form #form="ngForm" novalidate (submit)="onSubmit(form)" autocomplete="off">
        <div class="modal-body">
          <div class="form-group">
            <label class="HideFeederDropDown" style="margin-bottom: 1em"
              >Select Subdivision</label
            >
            <select
              class="browser-default custom-select HideSubdivisionDropDown"
              #subDivisionName="ngModel"
              name="subDivisionName"
              id="subDivisionName"
              [(ngModel)]="formdata.subDivisionName"
              style="width: 100%; height: 40px"
              required
            >
              <option selected value="">Select Subdivision</option>
              <option *ngFor="let obj of subdivisionDropDown" [ngValue]="obj">
                {{ obj }}
              </option>
            </select>

            <label style="margin-bottom: 1em; margin-top: 1em"
              >Substation Name</label
            >
            <input
              type="text"
              #subStationName="ngModel"
              [ngClass]="
                subStationName.invalid ? 'errorclass' : 'successclass'
              "
              name="subStationName"
              id="subStationName"
              [(ngModel)]="formdata.subStationName"
              class="form-control"
              [readonly]="isEdit"
              pattern="[a-zA-Z-0-9\/)|\(_-][a-zA-Z0-9 -\/)|\(_-]+[a-zA-Z-0-9\/)|\(_-]$"
              required
            />
            <label style="margin-bottom: 1em; margin-top: 1em"
              >Substation Latitude</label
            >
            <input
              type="number"
              #latitude="ngModel"
              name="latitude"
              id="latitude"
              [(ngModel)]="formdata.latitude"
              class="form-control"
              [ngClass]="latitude.invalid ? 'errorclass' : 'successclass'"
              required
            />
            <label style="margin-bottom: 1em; margin-top: 1em"
              >Substation Longitude</label
            >
            <input
              type="number"
              #longitude="ngModel"
              name="longitude"
              id="longitude"
              [(ngModel)]="formdata.longitude"
              class="form-control"
              [ngClass]="longitude.invalid ? 'errorclass' : 'successclass'"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            style="float: left"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-success"
            id="btnUpdateSaveSubstation"
            style="float: right"
            [disabled]="form.invalid"
          >
          <i class="fa fa-check"></i>
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
